*{
  padding: 0;
  margin: 0;
}

body{
  font-size: 16px;
  font-family: "Trip Sans VF", "Trip Sans", Arial, sans-seri;
  display: flex;
  justify-content: center;
}
/* Navbar Style */

img:hover,
button:hover{
  cursor: pointer;
}

img{
  transition: 0.3s;
}

  .award img,
  .chennai-tour img,
  .asia img,
  .explore img,
  .destination img,
  .rentals img{
    transition: 0.2s;
  }

  .award img:hover,
  .chennai-tour img:hover,
  .asia img:hover,
  .explore img:hover,
  .destination img:hover,
  .rentals img:hover{
    opacity: 0.8;
    transition: 0.2s;
  }



.container{
  width: 1200px;
}

.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px 30px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.navbar__menu,
.navbar__user{
  display: none;
}

.navbar__menu img,
.navbar__user img{
  width: 25px;
}

.navbar__logo{
  display: flex;
  align-items: center;
  gap: 5px;
}
.navbar__logo img{
  width: 35px;
  background-color: #25d988;
  padding: 5px;
  border-radius: 50px;
}
.navbar__links{
  display: flex;
  align-items: center;
}

.navbar__links p{
  padding: 15px;
  border-radius: 25px;
  font-weight: 600;
  transition: 0.3s;
}
.navbar__links p:hover{
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.3s;
}
.navbar__links a{
  text-decoration: none;
  color: black;
  padding: 15px;
  border-radius: 25px;  
  font-weight: 600;
}

.navbar__links a:hover{
  text-decoration: underline;
}
.navbar__signin button{
  width: 90px;
  font-size: 16px;
  font-weight: 600;
}

.navbar__signin__1,
.navbar__signin__2{
  padding: 15px;
  border-radius: 25px;
}

.navbar__signin__1{
  background-color: transparent;
  border: none;
  transition: 0.2s;
}

.navbar__signin__1:hover{
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.2s;
}

.navbar__signin__2{
  background-color: black;
  color: white;
  transition: 0.2s;
}

.navbar__signin__2:hover{
  opacity: 0.8;
  transition: 0.2s;
}

/* categories style */
.categories{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.categories__container{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 30px;
}

.categories__container h1{
  margin-bottom: 5px;
  font-size: 47px;
  font-weight: 800;
}

.categories__links{
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  width: 100%;
}

.categories__links div{
  display: flex;
  align-items: center;
  gap: 3px;
  border-bottom: 2px solid transparent;
  transition: 0.2s;
}

.categories__links div img{
  margin-bottom: 5px;
  height: 25px;
  width: 25px;
}
.categories__links a{
  text-decoration: none;
  color: black;
  font-weight: 600;
  padding: 5px 0px;
}

.categories__links div:hover{
  transition: 0.2s;
  border-bottom: 2px solid black;
}

.categories__search{
  width: 750px;
  display: flex;
  align-items: center;
  border-radius: 50px;
  padding: 5px;
  gap: 15px;
  padding-left: 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.categories input{
  width: 100%;
  border: none;
  font-size: 16px;
}

.categories input:focus{
  outline: none;
}

.categories img{
  width: 30px;
  height: 30px;
}

.categories button{
  padding: 15px;
  border-radius: 25px;
  background-color: #25d988;
  width: 100px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  transition: 0.2s;
}

.categories button:hover{
  background-color: rgba(20, 203, 121, 0.5);
  transition: 0.2s;
}

.ad-image-1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.ad-image-1__container{
  width: 100%;
  border-radius: 10px;
  background-color: #dcc8ff;
  display: flex;
  transition: 0.3s;
}



.ad-image-1__s1{
  display: flex;
}

.ad-image-1__s1__desc{
  display: flex;
  width: 60%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-grow: 1;
}

.ad-image-1__s1__desc h1,
.ad-image-1__s1__desc button{
  align-self: flex-start;
}

.ad-image__s2{
  background-position: center;
  background-size: cover;
  flex-grow: 1;
}

.ad-image__s2 img{
  width: 100%;
  border-radius: 10px;
}

.ad-image-1__s1 img{
  width: 100%;
}

.ad-image-1__s1__desc{
  color: #301D49;
}

.ad-image-1__s1__desc h1{
  margin-bottom: 15px;
}

.ad-image-1__s1__desc p{
  font-size: 20px;
  font-weight: 600;
}

.ad-image-1__s1__desc button{
  background-color: #301D49;
  color: white;
  padding: 10px 15px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
  border: 1px solid #301D49;
  transition: 0.2s;
}

.ad-image-1__s1__desc button:hover{
  background-color: #5d3097;
  border: 1px solid #5d3097;
  transition: 0.2s;
}

.award{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

.award__container{
  width: 100%;
}

.award__container p{
  color: gray;
}

.award__container *{
  margin-bottom: 15px;
}

.award__gallery{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
.award__gallery__card{
  position: relative;
  flex-basis: 20%;
  flex-grow: 1; 
}

.award__gallery__card img{
  width: 100%;
  border-radius: 10px;
}

.award__gallery__card div{
  position: absolute;
  bottom: 5px;
  left: 10px;
  color: white;
}

.chennai-tour{
  margin-bottom: 15px;
} 

.chennai-tour > p{
  color: gray;
}

.chennai-tour *{
  margin-bottom: 15px;
}

.chennai-tour__container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.chennai-tour__gallery{
  flex-basis: 20%;
  flex-grow: 1;
  position: relative;
}

.chennai-tour__gallery div,
.asia__gallery div{
  width: 25px;
  position: absolute;
  top: 10px;
  right: 20px;
}

.chennai-tour__gallery div img{
  background-color: white;
  border-radius: 50px;
  padding: 5px;
}

.chennai-tour__gallery img{
  width: 100%;
  border-radius: 10px;
}

.chennai-tour__gallery h3{
  font-size: 16px;
}

.chennai-tour__gallery p{
  font-size: 12px;
}

.chennai-tour__gallery .para{
  font-size: 14px;
  font-weight: 600;
}

.chennai-tour__gallery *{
  margin-bottom: 10px;
}

.asia *{
  margin-bottom: 15px;
}

.asia p{
  color: gray;;
}

.asia__container{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

.asia__gallery{
  flex-basis: 20%;
  flex-grow: 1;
  position: relative;
}

.asia__gallery div{
  width: 25px;
  width: 25px;
  position: absolute;
  top: 10px;
  right: 20px;
}

.asia__gallery div img{
  background-color: white;
  border-radius: 50px;
  padding: 5px;
}

.asia__gallery img{
  width: 100%;
  border-radius: 10px;
}

.explore{
  background-color: #FAF1ED;
  border-radius: 10px;
  margin-bottom: 25px;
}


.explore__container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.explore__card{
  flex-grow: 1;
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.explore__card img{
  width: 100%;
  border-radius: 10px;
  margin: 20px 0px;
}

.explore__card a{
  text-decoration: none;
  color: black;
}

.explore__card h4{
  margin-bottom: 20px;
}

.explore__card .last{
 margin-bottom: 0; 
}


.destination{
  margin-bottom: 40px;
}
.destination p, .destination h2{
  margin-bottom: 15px;
}

.destination__container{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.destination__card{
  flex-grow: 1;
  flex-basis: 20%;
  position: relative;
}

.destination__card img{
  width: 100%;
  border-radius: 10px;
}



.destination__card .wish{
  width: 25px;
  position: absolute;
  top: 10px;
  right: 20px;
}

.destination__card h1{
  position: absolute;
  bottom: 10px;
  color: white;
  left: 10px;
}

.destination__card .wish img{
  background-color: white;
  border-radius: 50px;
  padding: 5px;
}

.wanderer{
  background-color: #F2ECF9;
  padding: 20px;
  margin: 50px 0px;
}

.wanderer__container{
  display: flex;
}


.wanderer__card__1{
  flex-grow: 1;
  flex-basis: 40%;
}

.wanderer__card__1 img{
  width: 100%;
}

.wanderer__card__2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  flex-grow: 1;
  flex-basis: 40%;
  text-align: center;
}


.wanderer__card__2 a{
  color: black;
}
.wanderer__card__2 div{
  display: flex;
  align-items: center;
  gap: 3px;
  margin-bottom: 15px;
}

.wanderer__card__2 img{
  width: 20px;
  background-color: #25d988;
  border-radius: 50px;
  padding: 3px;
}
.wanderer__card__2 h1{
  margin-bottom: 15px;
}

.wanderer__card__2 button{
  padding: 15px 20px;
  border-radius: 25px;
  background-color: black;
  color: white;
  font-weight: 600;
  margin-top: 20px;
  transition: 0.2s;
}

.wanderer__card__2 button:hover{
  opacity: 0.7;
  transition: 0.2s;
  cursor: pointer;
}

.rentals{
  margin: 30px 0px;
}

.rentals h2{
  font-size: 28px;
}

.rentals__container{
  display: flex;
  margin-top: 30px;
  gap: 20px;
}

.rentals__s1{
  flex: 1;
}

.rentals__s2{
  flex: 3;
}

.rentals__s1 h4{
  font-weight: 500;
  font-size: 24px;
}

.rentals__s2{
  display: flex;
  gap: 10px;
}

.rentals__card{
  flex-grow: 1;
  flex-basis: 20%;
}

.rentals__card h3{
  font-size: 18px;
}

.rentals__card p{
  font-size: 14px;
}

.rentals__card img{
  width: 100%;
  border-radius: 10px;
}

.best-choice{
  background-color: #FFF7E1;
}

.best-choice__container{
  display: flex;
}

.best-choice__s1{
  padding: 80px 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.best-choice__s1 img{
  align-self: flex-start;
}

.best-choice__s1 h1{
  font-size: 50px;
}

.best-choice__s1 p{
  font-size: 24px;
}

.best-choice__s1 button{
  font-size: 16px;
  padding: 15px;
  border-radius: 25px;
  background-color: black;
  color: white;
  font-weight: 600;
  align-self: flex-start;
  transition: 0.2s;
}

.best-choice__s1 button:hover{
  opacity: 0.8;
  transition: 0.2s;
  cursor: pointer;
}

.best-choice__s2{
  flex-grow: 1;
}

.best-choice__s2 img{
  width: 100%;
}

.footer{
  background-color: #FAF1ED;
  padding: 20px;
  margin-top: 60px;
}

.footer__container-1{
  display: flex;
}

.footer__s1,
.footer__s2{
  flex-grow: 1;
}

.footer__s1{
  display: flex;
  gap: 30px;
}

.footer__s1__one,
.footer__s1__two,
.footer__s1__three{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer a{
  font-size: 14px;
  text-decoration: none;
  color: black;
}

.footer a:hover{
  text-decoration: underline;
}

.footer__s1__one__title,
.footer__s1__two__title,
.footer__s1__three__title,
.footer__s2__one__title{
  font-size: 16px;
  color: #333333;
}

.footer__s1__three__title__2{
  font-size: 16px;
  color: #333333;
  margin-top: 10px;
}

.footer__s2{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__s2__one{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer__s2__one p{
  color: #333333;
}

.footer__container-2{
  margin-top: 10px;
}

.footer__container-2,
.footer__copy{
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer__copy{
  flex-grow: 1;
}

.footer__copy img{
  width: 30px;
  background-color: #25d988;
  padding: 5px;
  border-radius: 20px;
}

.footer__copy p{
  font-size: 12px;
  color: #333333;
}

.footer__dropdown{
  display: flex;
  gap: 10px;
}

.footer__dropdown select{
  width: 170px;
  padding: 5px;
  border-radius: 10px;
}

.footer__dropdown select:hover{
  cursor: pointer;
}

.footer__dropdown select option{
  font-size: 15px;
}

.social-media{
  display: flex;
  gap: 10px;
  align-items: center;
}

.social-media img{
  width: 25px;
}


/* Media Query */

@media screen and (max-width:1200px) {
  .container{
    width: 100%;
  }

  .categories,
  .award,
  .chennai-tour,
  .asia,
  .explore,
  .destination,
  .rentals{
    margin: 3%;
  }

  .categories__search{
    width: 90%;
  }
}

@media screen and (max-width:1100px) {
  body{
    font-size: 14px;
  }
  .categories,
  .award,
  .chennai-tour,
  .asia,
  .explore,
  .destination,
  .rentals{
    margin: 3%;
  }
}

@media screen and (max-width:1024px){
  
  .navbar{
    justify-content: space-between;
    gap: 20px;
  }  

  .navbar__signin__1{
    display: none;
  }

  .navbar__signin__2{
    justify-self: right;
  }

  .navbar__menu{
    display: block;
  }

  .navbar__links{
    display: none;
  }

  .categories,
  .award,
  .chennai-tour,
  .asia,
  .explore,
  .destination,
  .rentals{
    margin: 3%;
  }

  .award__gallery__card,
  .chennai-tour__gallery,
  .asia__gallery,
  .destination__card{
    flex-basis: 40%;
    flex-grow: 1;
  }
  
  .footer{
    padding: 40px;
  }

  .footer__s1 a{
    display: none;
  }

  .footer__s1,
  .footer__container-1{
    flex-direction: column;
  }

  .footer__s2__one__title{
    margin-top: 25px;
  }

  .footer__s2__one .copy{
    display: none;
  }

  
  .footer__dropdown select{
    width: 100%;
  }

  .footer__copy p{
    font-size: 11px;
  }
}

@media screen and (max-width:768px){

  .navbar{
    justify-content: space-between;
    font-size: 12px;
  }

  .navbar__links,
  .navbar__signin{
    display: none;
  }

  .navbar__menu,
  .navbar__user{
    display: block;
  }

  /* ,
  .categories__links */


  .categories__links{
    font-size: 12px;
  }

  .categories__title{
    display: none;
  }

  .categories,
  .award,
  .chennai-tour,
  .asia,
  .explore,
  .destination,
  .rentals{
    margin: 3%;
  }

  .ad-image-1__s1{
    flex-direction: column;
    align-items: center;
    justify-content: c;
  }

  .award__gallery__card h1,
  .destination__card h1{
    font-size: 20px;
  }

  .rentals h2{
    font-size: 20px;
  }

  .rentals__container{
    flex-direction: column;
  }
 
  .rentals__s1 h4,
  .rentals__card h3,
  .rentals__card p{
    font-size: 14px;
  }

  .ad-image-1__container{
    flex-direction: column;
  }

  .ad-image-1__s1__desc{
    width: 80%;
  }

  .best-choice h1{
    font-size: 24px;
    align-self: flex-start;
  }

  .best-choice p{
    font-size: 20px;
    align-self: flex-start;
  }

  .best-choice button{
    font-size: 16px;
  }

  .best-choice__s1{
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  

  /* .ad-image-1__s1__desc h1{
    font-size: 20px;
  }

  .ad-image-1__s1__desc p{
    font-size: 16px;
  }

  .ad-image-1__s1__desc button{
    font-size: 10px;
  } */

  

  .wanderer__container{
    flex-direction: column;
  }

  .wanderer__card__2{
    align-items: flex-start;
  }

  .wanderer__card__2 p{
    text-align: justify;
  }
  
  .rentals__container{
    margin-top: 15px;
  }

  .best-choice__container{
    flex-direction: column;
  }

  .footer__dropdown{
    flex-direction: column;
    margin-bottom: 20px;
  }
}

@media screen and (max-width:650px){
  .categories__links{
    font-size: 10px;
    gap: 10px;
  }

  .award__gallery,
  .chennai-tour__container,
  .asia__container,
  .explore__container,
  .destination__container,
  .rentals__container{
    flex-wrap: nowrap;
  }

  .award__gallery,
  .chennai-tour__container,
  .asia__container,
  .explore__container,
  .destination__container,
  .rentals__container{
    overflow-x: auto;
  }

  .award__gallery::-webkit-scrollbar,
  .chennai-tour__container::-webkit-scrollbar,
  .asia__container::-webkit-scrollbar,
  .explore__container::-webkit-scrollbar,
  .destination__container::-webkit-scrollbar,
  .rentals__container::-webkit-scrollbar{
    width: 0;
  }

  .award__gallery__card,
  .chennai-tour__gallery,
  .asia__gallery,
  .explore__card,
  .destination__card,
  .rentals__card{
    min-width: 300px;
  }
}

@media screen and (max-width:390px) {

  body{
    font-size: 12px;
  }

  .navbar{
    font-size: 10px;
  }

  .container{
    width: 90%;
  }

  .categories__links{
    font-size: 8px;
  }
  .categories__search{
    width: 90%;
  }

  .categories,
  .award,
  .chennai-tour,
  .asia,
  .explore,
  .destination,
  .rentals{
    margin: 3%;
  }

  .rentals h2{
    font-size: 18px;
  }

  .rentals__container{
    flex-direction: column;
  }
 
  .rentals__s1 h4,
  .rentals__card h3,
  .rentals__card p{
    font-size: 12px;
  }


  .best-choice h1{
    font-size: 24px;
  }

  .best-choice p{
    font-size: 20px;
  }

  .best-choice button{
    font-size: 16px;
  }

  .best-choice__s1{
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  .footer{
    padding: 40px;
  }

  .footer__s1 a{
    display: none;
  }

  .footer__s1,
  .footer__container-1{
    flex-direction: column;
  }

  .footer__s2__one__title{
    margin-top: 25px;
  }

  .footer__s2__one p{
    display: none;
  }

  .footer__dropdown{
    flex-direction: column;
    margin-bottom: 20px;
  }

  .footer__dropdown select{
    width: 100%;
  }

  .footer__copy p{
    font-size: 11px;
  }
  /* .ad-image-1{
    flex-direction: column;
  } */
}